.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
  font-family: "inter" Arial, Helvetica, sans-serif;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  font-family: "Inter" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  padding: 0;
}

.footer__social-link {
  text-decoration: none;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 108px 0 0;
}
