.form {
  max-width: 385px;
}
.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__button {
  width: 100%;
  margin-top: 32px;
  padding: 20px 0;
  border: none;
  border-radius: 4px;
  background-color: #1878dc;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label {
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
}
