.menu {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  background: #fff url("../images/background_menu.svg") no-repeat center/cover;
}

.menu__title {
  margin: 0 0 24px;
  max-width: 780px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 0 100px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
