.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
  transition: opacity 200ms ease;
}

.nav__link:hover {
  color: #2f80ed;
  opacity: 0.5;
}
