.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.recipes__video-caption {
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 270px;
  border: none;
  display: block;
}
