.page {
  font-family: Inter, Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  margin: 0;
  font-family: "Noto serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__span-accent {
  font-family: "Noto serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: block;
}

.header__paragraph {
  margin: 0;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  box-sizing: border-box;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  margin: 0;
}

.recipes__video-caption {
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}
.form_fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__button {
  width: 100%;
  margin-top: 32px;
  padding: 20px 0;
  border: none;
  border-radius: 4px;
  background-color: #1878dc;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.form__button:hover {
  background-color: #3f96f3;
  transition-property: background-color;
  transition-duration: 1s;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
