.page {
  font-family: Inter, Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  margin: 0;
  font-family: "Noto serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__span-accent {
  font-family: "Noto serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: block;
}

.header__paragraph {
  margin: 0;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  box-sizing: border-box;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  margin: 0;
}

.recipes__video-caption {
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
